Repository Danilbel/shoppe, pull requests merged in 2023-12, with the labels that each got.

#8 Fix Backend [Setting and removing ADMIN role]
  backend/src/main/java/dev/danilbel/backend/controller/SuperAdminUserController.java
  backend/src/main/java/dev/danilbel/backend/service/impl/UserServiceImpl.java
Labels: bug, backend

#10 Frontend [Authorization page]
  frontend/README.md
  frontend/data.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/assets/icons/cancelMark.svg
  frontend/src/assets/icons/cart.svg
  frontend/src/assets/icons/checkMark.svg
  frontend/src/assets/icons/profile.svg
  frontend/src/assets/icons/search.svg
  frontend/src/assets/icons/send.svg
  frontend/src/components/app/App.js
  frontend/src/components/authorization/Authorization.js
  frontend/src/components/authorization/AuthorizationSlice.js
  frontend/src/components/authorization/authorization.scss
  frontend/src/components/footer/Footer.js
  frontend/src/components/footer/footer.scss
  frontend/src/components/header/Header.js
  frontend/src/components/header/header.scss
  frontend/src/components/notification/Notification.js
  frontend/src/components/notification/NotificationSlice.js
  frontend/src/components/notification/notification.scss
  frontend/src/components/pages/MainPage.js
  frontend/src/components/pages/authorizationPage/AuthorizationPage.js
  frontend/src/components/pages/authorizationPage/authorizationPage.scss
  frontend/src/hooks/http.hook.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/store/index.js
  frontend/src/styles/reset.scss
  frontend/src/styles/style.scss
Labels: frontend

#13 Backend [User Profile, Update: Details & Password]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/UserController.java
  backend/src/main/java/dev/danilbel/backend/dto/user/ChangePasswordRequestDto.java
  backend/src/main/java/dev/danilbel/backend/dto/user/UserDetailsRequestDto.java
  backend/src/main/java/dev/danilbel/backend/service/UserService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/UserServiceImpl.java
Labels: backend

#12 Frontend [Shop page]
  frontend/data.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app/App.js
  frontend/src/components/authorization/Authorization.js
  frontend/src/components/jewelryCatalog/JewelryCatalogShop.js
  frontend/src/components/jewelryCatalog/jewelryCatalog.scss
  frontend/src/components/jewelryFilterBar/JewelryFilterBar.js
  frontend/src/components/jewelryFilterBar/JewelryFilterBarSlice.js
  frontend/src/components/jewelryFilterBar/jewelryFilterBar.scss
  frontend/src/components/jewelryItem/JewelryItemPromo.js
  frontend/src/components/jewelryItem/JewelryItemShop.js
  frontend/src/components/jewelryItem/jewelryItem.scss
  frontend/src/components/notification/Notification.js
  frontend/src/components/pages/shop/Shop.js
  frontend/src/components/pages/shop/shop.scss
  frontend/src/components/userAccount/accountDetails/AccountDetails.js
  frontend/src/components/userAccount/accountDetails/accountDetails.scss
  frontend/src/components/userAccount/dashboard/Dashboard.js
  frontend/src/index.js
  frontend/src/store/index.js
Labels: frontend

#14 Backend [Product]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/ProductController.java
  backend/src/main/java/dev/danilbel/backend/dto/product/AdditionalProductDescriptionDto.java
  backend/src/main/java/dev/danilbel/backend/dto/product/ProductDescriptionDto.java
  backend/src/main/java/dev/danilbel/backend/dto/product/ProductDto.java
  backend/src/main/java/dev/danilbel/backend/entity/AdditionalProductDescriptionEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/ColorEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/MaterialEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/ProductDescriptionEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/ProductEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/TypeEntity.java
  backend/src/main/java/dev/danilbel/backend/mapper/AdditionalProductDescriptionMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/ColorMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/MaterialMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/ProductDescriptionMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/ProductMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/TypeMapper.java
  backend/src/main/java/dev/danilbel/backend/repository/ProductRepository.java
  backend/src/main/java/dev/danilbel/backend/service/ProductService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ProductServiceImpl.java
  backend/src/main/resources/db/migration/V4__add_product.sql
  backend/src/main/resources/db/migration/V5__test_insert.sql
Labels: backend

#15 Backend [Product Images]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/ProductController.java
  backend/src/main/java/dev/danilbel/backend/controller/ProductImageController.java
  backend/src/main/java/dev/danilbel/backend/dto/product/ProductDto.java
  backend/src/main/java/dev/danilbel/backend/entity/ProductEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/ProductImageEntity.java
  backend/src/main/java/dev/danilbel/backend/mapper/ProductImageMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/ProductMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/impl/ProductImageMapperImpl.java
  backend/src/main/java/dev/danilbel/backend/service/ProductImageService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ProductImageServiceImpl.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V6__add_image.sql
  backend/src/main/resources/db/migration/V7__test_insert_images.sql
  images/01563cc4-hair-pin-set-of-3.webp
  images/1819c59b-plaine-necklace.webp
  images/22ed1c79-lira-earrings.webp
  images/26645d7b-kaede-hair-pin-set-of-3.webp
  images/2815bb3f-plaine-necklace.webp
  images/34b221c6-plaine-necklace.webp
  images/39bed6b9-plaine-necklace.webp
  images/426b9b09-kaede-hair-pin-set-of-3.webp
  images/7e2f1c37-hal-earrings.webp
  images/88e5fc29-hal-earrings.webp
  images/8e7a6a30-hair-pin-set-of-3.webp
  images/b892b6fa-lira-earrings.webp
  images/bd45445d-plaine-necklace.webp
  images/d9e1f427-lira-earrings.webp
  images/e0d62c0b-plaine-necklace.webp
  images/e6e0ea2b-hair-pin-set-of-3.webp
  images/fbcca58c-yuki-hair-pin-set-of-3.webp
Labels: backend

#18 Backend [ShippingAddress]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/ShippingAddressController.java
  backend/src/main/java/dev/danilbel/backend/dto/address/ShippingAddressDto.java
  backend/src/main/java/dev/danilbel/backend/dto/user/UserDto.java
  backend/src/main/java/dev/danilbel/backend/entity/ShippingAddressEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/UserEntity.java
  backend/src/main/java/dev/danilbel/backend/mapper/ShippingAddressMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/UserMapper.java
  backend/src/main/java/dev/danilbel/backend/repository/ShippingAddressRepository.java
  backend/src/main/java/dev/danilbel/backend/service/ShippingAddressService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ShippingAddressServiceImpl.java
  backend/src/main/resources/db/migration/V8__add_shipping_address.sql
Labels: backend

#21 Backend [Review]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/ReviewController.java
  backend/src/main/java/dev/danilbel/backend/dto/product/ProductDto.java
  backend/src/main/java/dev/danilbel/backend/dto/review/CreateReviewDto.java
  backend/src/main/java/dev/danilbel/backend/dto/review/ReviewDto.java
  backend/src/main/java/dev/danilbel/backend/dto/user/UserSummaryDto.java
  backend/src/main/java/dev/danilbel/backend/entity/ProductEntity.java
  backend/src/main/java/dev/danilbel/backend/entity/ReviewEntity.java
  backend/src/main/java/dev/danilbel/backend/mapper/ProductMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/ReviewMapper.java
  backend/src/main/java/dev/danilbel/backend/mapper/UserMapper.java
  backend/src/main/java/dev/danilbel/backend/repository/ReviewRepository.java
  backend/src/main/java/dev/danilbel/backend/service/ProductService.java
  backend/src/main/java/dev/danilbel/backend/service/ReviewService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ProductServiceImpl.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ReviewServiceImpl.java
  backend/src/main/resources/db/migration/V9__add_review.sql
Labels: backend

#33 Backend [Contact Us]
  backend/src/main/java/dev/danilbel/backend/config/SecurityConfig.java
  backend/src/main/java/dev/danilbel/backend/controller/ContactController.java
  backend/src/main/java/dev/danilbel/backend/dto/contact/ContactDto.java
  backend/src/main/java/dev/danilbel/backend/entity/ContactEntity.java
  backend/src/main/java/dev/danilbel/backend/mapper/ContactMapper.java
  backend/src/main/java/dev/danilbel/backend/repository/ContactRepository.java
  backend/src/main/java/dev/danilbel/backend/service/ContactService.java
  backend/src/main/java/dev/danilbel/backend/service/impl/ContactServiceImpl.java
  backend/src/main/resources/db/migration/V13__add_contacts.sql
Labels: backend

#41 Frontend [Scroll to top feature & Privacy Policy page & Terms of Use page]
  frontend/src/components/app/App.js
  frontend/src/components/checkout/Checkout.js
  frontend/src/components/footer/Footer.js
  frontend/src/components/footer/footer.scss
  frontend/src/components/orderItem/OrderItem.js
  frontend/src/components/pages/PrivacyPolicyPage.js
  frontend/src/components/pages/TermsOfUsePages.js
  frontend/src/components/privacyPolicy/PrivacyPolicy.js
  frontend/src/components/privacyPolicy/privacyPolicy.scss
  frontend/src/components/scrollToTop/ScrollToTop.js
  frontend/src/components/selectedItem/itemInfoSection/ItemInfoSection.js
  frontend/src/components/termsOfUse/TermsOfUse.js
  frontend/src/components/termsOfUse/termsOfUse.scss
Labels: frontend

#42 Fontend [Fixed bug during adding new review]
  frontend/src/components/selectedItem/itemInfoNav/reviews/ReviewAddForm.js
  frontend/src/components/selectedItem/itemInfoNav/reviews/Reviews.js
Labels: frontend

#44 Fronted [Fixed bug with a long price]
  frontend/src/components/cart/Cart.js
  frontend/src/components/checkout/Checkout.js
Labels: frontend

#46 Frontend [Fixed a bug with good images]
  frontend/src/components/selectedItem/itemInfoSection/itemInfoSection.scss
Labels: frontend

#47 Frontend [Added Mail sender]
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/footer/Footer.js
  frontend/src/components/footer/footer.scss
  frontend/src/components/unloadListener/UnloadListener.js
Labels: frontend

#52 Frontend [Fixed the bug related to the twice notification]
  frontend/src/components/footer/Footer.js
  frontend/src/components/pages/AboutPage.js
  frontend/src/components/pages/CartPage.js
  frontend/src/components/pages/ContactUsPage.js
  frontend/src/components/pages/MainPage.js
  frontend/src/components/pages/Page404/Page404.js
  frontend/src/components/pages/PrivacyPolicyPage.js
  frontend/src/components/pages/TermsOfUsePages.js
Labels: frontend

#53 Frontend [Fixed bug related to the displaying prices]
  frontend/src/components/checkout/Checkout.js
  frontend/src/components/orderItem/orderItem.scss
Labels: frontend

#54 Frontend [Fixed bug related to the filter item]
  frontend/src/components/jewelryCatalog/JewelryCatalogShop.js
  frontend/src/components/jewelryFilterBar/JewelryFilterBar.js
Labels: frontend

#56 Frontend [Updated contact-us component according to the new API]
  frontend/src/components/contactUs/ContactUs.js
Labels: frontend

#59 Frontend [Refactor Authorization component]
  frontend/src/components/authorization/Authorization.js
  frontend/src/components/authorization/authorization.scss
  frontend/src/components/authorization/login/Login.js
  frontend/src/components/authorization/register/Register.js
  frontend/src/components/contactUs/ContactUs.js
  frontend/src/components/footer/Footer.js
  frontend/src/components/inputFields/passwordInput/PasswordInput.js
  frontend/src/components/inputFields/passwordInput/passwordInput.scss
  frontend/src/components/inputFields/textInput/TextInput.js
  frontend/src/components/inputFields/textareaInput/TextareaInput.js
  frontend/src/components/jewelryCatalog/JewelryCatalogSlice.js
  frontend/src/components/notification/Notification.js
  frontend/src/components/pages/UserPage.js
  frontend/src/components/pages/authorizationPage/AuthorizationPage.js
  frontend/src/components/selectedItem/itemInfoNav/reviews/ReviewAddForm.js
  frontend/src/components/selectedItem/similarItems/similarItems.scss
  frontend/src/components/userAccount/accountDetails/AccountDetails.js
  frontend/src/components/userAccount/address/Address.js
  frontend/src/hooks/http.hook.js
  frontend/src/styles/style.scss
Labels: bug, frontend
